.lzTodayHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom:8px;
    color:white;
}

.lzTodayHeader__btn{
    font-size:20px;
}

.lzTodayHeader__btn:hover{
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 5px rgba(255, 255, 255, 0.7))
}

.lzTodoBody{
    padding-bottom: 12px;
    width:292px;
    height:240px;
    background: linear-gradient(#1e1e1e, rgb(31, 31, 31));
    box-shadow: 0 4px 32px 0 rgba(42, 42, 42);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lzTodoBody__list{
    height:200px;
    padding-right:8px;
    overflow-y: scroll;
}

.lzTodoBody__list::-webkit-scrollbar{
    width:8px;
}

.lzTodoBody__list::-webkit-scrollbar-thumb{
    background-color: var(--kiwiSorbet);
}

.lzTodoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:12px;
    padding-top:8px;
    padding-bottom:4px;
    
}

.lzTodoItem__input{
    font-family: 'GmarketSans';
    font-size:16px;
    outline:none;
    width:200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lzTodoItem__buttonList{
    display: flex;
    gap:4px;
}

.lzTodoItem__btn{
    font-size:16px;
    color:white;
}

/* 네온 호버 */
.lzTodoItem__btn--edit:hover{
    color: rgb(255, 191, 16);
    filter: drop-shadow(0 0 2px rgba(255, 191, 16, 0.7))
    drop-shadow(0 0 5px rgba(255, 191, 16, 0.7))
    drop-shadow(0 0 15px rgba(255, 191, 16, 0.7));
}

.lzTodoItem__btn--down:hover{
    color: rgb(36, 255, 102);
    filter: drop-shadow(0 0 2px rgba(36, 255, 102, 0.7))
    drop-shadow(0 0 5px rgba(36, 255, 102, 0.7))
    drop-shadow(0 0 15px rgba(36, 255, 102, 0.7));
}

.lzTodoItem__btn--delete:hover{
    color: rgb(255, 31, 154);
    filter: drop-shadow(0 0 2px rgba(255, 31, 154, 0.7))
    drop-shadow(0 0 5px rgba(255, 31, 154, 0.7))
    drop-shadow(0 0 15px rgba(255, 31, 154, 0.7));
}

.lzTodoAdd {
    display: flex;
    padding-right:12px;
    padding-left:12px;
    justify-content: space-between;
}

.lzTodoAdd__input {
    padding-left:4px;
    width:220px;
    border-bottom: 2px solid white;
    outline:none;
    font-family: 'GmarketSans';
    color:white;
}

.lzTodoAdd__btn{
    font-weight:bold;
    font-family: 'GmarketSans';
    font-size:24px;
    color:white;
    display: flex;
}

.lzTodoAdd__btn:hover{
    color: rgb(52, 16, 255);
    filter: drop-shadow(0 0 2px rgba(52, 16, 255, 0.7))
    drop-shadow(0 0 5px rgba(52, 16, 255, 0.7))
    drop-shadow(0 0 15px rgba(52, 16, 255, 0.7));
}